:root {
  --clr-violet: hsl(257, 40%, 49%);
  --clr-soft-magenta: hsl(300, 69%, 71%);
  --clr-white: hsl(0,0%,100%);
  --clr-txt: hsla(0,0%,100%, .7);
  --fw-600: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--clr-violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: var(--fw-600);
}

main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 23.4375rem;
  height: 100vh;
  max-height: 50rem;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  width: 7.5rem;
  margin-top: 2.375rem;
}

.hero img {
  max-width: 100%;
  margin-top: 4.375rem;
}

.hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.25rem;
}

.hero-info h1 {
  color: var(--clr-white);
  text-align: center;
  max-width: 19ch;
}

.hero-info p {
  margin-top: 1.625rem;
  text-align: center;
  color: var(--clr-txt);
  max-width: 33ch;
}

.hero-info button {
  width: 12.5rem;
  height: 2.5rem;
  border-radius: 20px;
  margin-top: 1.75rem;
  border: none;
  color: var(--clr-violet);
  font-family: inherit;
  font-size: .75rem;
  -webkit-box-shadow: 0px 8px 18px -6px #000000;
          box-shadow: 0px 8px 18px -6px #000000;
  cursor: pointer;
}

.hero-info button:hover {
  background-color: var(--clr-soft-magenta);
  color: var(--clr-white);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 135px;
  margin: 3.75 auto;
}

.social .fa-facebook-f {
  padding: .5rem 0.7rem 0.5rem 0.7rem;
}

.social i {
  border-radius: 50%;
  border: solid 1px var(--clr-white);
  margin: 0rem 0.5rem;
  padding: .5rem;
  color: var(--clr-white);
}

.social i:hover {
  border: solid 1px var(--clr-soft-magenta);
  color: var(--clr-soft-magenta);
}

@media screen and (min-width: 50rem) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: top center;
    width: 100%;
    max-width: 90rem;
    margin: auto;
  }
  main {
    width: 100%;
    max-width: 90rem;
    margin: auto;
  }
  .logo {
    width: 12.5rem;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero img {
    width: 100%;
    max-width: 700px;
  }
  .hero-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 3.5rem;
    width: 100%;
    max-width: 510px;
    margin-top: 0;
  }
  .hero-info h1 {
    text-align: start;
    margin-top: 0;
    font-size: 2.5rem;
    width: 100%;
  }
  .hero-info p {
    font-size: 1.125rem;
    text-align: left;
    max-width: 100%;
  }
  .hero-info button {
    margin-top: 28px;
    height: 3.5rem;
    width: 12.5rem;
    border-radius: 28px;
  }
  .social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 2.25rem;
  }
}
/*# sourceMappingURL=style.css.map */